body {
  padding-top: 75px;
  margin: 0;
  padding-bottom: 0;
  min-height: 100vh;
  font-size: 1.25rem;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
              0 4px 8px 0 rgba(0,0,0,.05);
}

.icone {
  height: 100px;
}

#home-quote {
  background: url('../img/bg-quote.jpg') center center;
  background-size: cover;
}

.lista-plano li + li {
  border-top: 1px solid rgba(0,0,0,.4);
}

.lista-plano li {
  padding: 1rem;
  font-size: 1.5rem;
}

.footer-page {
  margin-top: 150px !important;
}

a {
text-decoration: none;
}

@media (max-width: 767px) {
  #home-quote .display-4{
    font-size: 2.5em;
  }

  body {
    padding-top: 0px;
  }
  
  .fixed-top {
    position: relative;
  }
}
